*.ex4
*.log
mailbox
history/
config/
profiles/lastprofile.ini
profiles/indicators.dat
*.dat
templates/OptimizationReport.htm
templates/Statement.htm
templates/StatementDetailed.htm
templates/StrategyTester.htm
